@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    padding: 20px;
    background-color: #272727;
}
h1 {
    color: #ececec;                   /* cor do texto */
    -webkit-text-stroke: 2px #000000; /* contorno nas letras */
    font-size: 48px;                  /* tamanho do título */
    text-align: center;               /* centraliza */
    font-family: "Inter", sans-serif; /* mantém a fonte */
}
form{

    margin-bottom: 20px;
}

input{
    list-style-type: none;
    padding: 5px;
    
}

ul{

    list-style-type:none;
    padding: 0;
}

li{
    background:white;
    margin: 5px 0;
    padding: 10px;
    border-left:5px solid #4caf50;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.completd{
    text-decoration: line-through;
    opacity: 0.6;
}